.contentText {
    color: white;
    font-family: Roboto, sans-serif;
    font-size: 1.1rem;
    line-height: 1.7;
    text-shadow: 0 0 72px #ffffff;

    @media screen and (max-width: 440px) {
        font-size: 0.8rem;
        line-height: 1.5;
    }

    @media screen and (max-width: 836px) and (orientation: landscape) {
        font-size: 0.8rem;
        line-height: 1.5;
    }
}

.contentText b {
    font-family: Orbitron, sans-serif;
    font-size: 1.25rem;
    /* text-shadow: 0 0 0px #ffffff; */

    @media screen and (max-width: 440px) {
        font-size: 0.9rem;
    }

    @media screen and (max-width: 836px) and (orientation: landscape) {
        font-size: 0.9rem;
    }
}